# server/.env.example
NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:5173

# Mongo
MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>/<db>?retryWrites=true&w=majority

# Auth0
AUTH0_DOMAIN=<tenant>.us.auth0.com
AUTH0_AUDIENCE=https://glowvia-api.com

# JWT 
JWT_SECRET=<random-long-secret>

# Stripe 
STRIPE_SECRET=<stripe-key>

# Cloudinary 
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
